name: Build Project

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        configuration: [Debug, Release]
    steps:
      - uses: actions/checkout@v4

      - name: Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Build Premake
        run: .\Scripts\build_premake.bat

      - name: Generate Visual Studio project files
        run: vendor\premake\bin\release\premake5.exe vs2022
      
      - name: Build project
        run: |
          msbuild /p:Configuration=${{ matrix.configuration }} /p:Platform=x64 GerbilEngine.sln


  build-linux:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        config: [debug, release]
    steps:
      - uses: actions/checkout@v4

      - name: Install build tools
        run: |
          sudo apt update
          sudo apt install -y g++ make

      - name: Build Premake (Linux)
        run: |
          chmod +x Scripts/build_premake.sh
          Scripts/build_premake.sh

      - name: Generate Makefiles
        run: vendor/premake/bin/release/premake5 gmake2

      - name: Build project using make
        run: make config=${{ matrix.config }}
